<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @todo_item25.description %>
</p>

<%= link_to 'Edit', edit_todo_item25_path(@todo_item25) %> |
<%= link_to 'Back', todo_item25s_path %>
